
<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/polymerfire/firebase-document.html">
<link rel="import" href="../bower_components/polymerfire/firebase-query.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/iron-form/iron-form.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-create-session">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }
    </style>
    <firebase-document
      id="sessionNamesDoc"
      path="/sessionNames"
      data="{{sessionNamesDocData}}">
    </firebase-document>
   
    <firebase-document
      id="sessionDoc"
      path="/sessions"
      data="{{sessionsDocData}}">
    </firebase-document>
    
    <firebase-query
      id="query"
      path="/sessionNames"
      data="{{sessionNamesQueryData}}">
    </firebase-query>

    <div class="card">
      <p class="error">{{message}}</p>
      <paper-input id="sessionName" label="Session Name"></paper-input>
      <paper-input id="sessionPassword" label="Session Password" type="password"></paper-input>
      <paper-button raised id="createSession" class="orange">Create Session</paper-button>
    </div>
  </template>

  <script>
    Polymer({
      is: 'my-create-session',

      listeners: {
        'createSession.tap' : 'createSession'
      },

      properties: {
        message: '',
        session: {
          type: Object,
          value : {
            name: 'session name',
            password: 'session password',
          }
        },
        sessionName: {
          type: Object,
          value: {
            name: 'session name'
          }
        },
        sessionNamesQueryData: {
          type: Array,
          value: [],
          notify: true
        }
      },

      createSession: function() {
        this.session.name = this.$.sessionName.value;
        this.sessionName.name = this.$.sessionName.value;        
        this.session.password = this.$.sessionPassword.value;
        var valid = true;
        for(var i = 0; i < this.sessionNamesQueryData.length; i++) {
          if(this.session.name.valueOf() === this.sessionNamesQueryData[i].name.valueOf()){
            this.message = 'This session name is taken, please try a different one.';
            valid = false;
          }
        }
        if(valid === true) {
          this.message = '';
          this.$.sessionDoc.path = '';
          this.$.sessionDoc.data = '';
          this.$.sessionNamesDoc.path = '';
          this.$.sessionNamesDoc.data = '';
          this.$.sessionNamesDoc.data = this.sessionName;
          this.$.sessionDoc.data = this.session;
          this.$.sessionDoc.save('/sessions', this.session.name);
          this.$.sessionNamesDoc.save('/sessionNames', this.sessionName.name);
        }
      }
    });
  </script>
</dom-module>