
<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/app-layout/app-grid/app-grid-style.html">

<dom-module id="my-home">
    <template>
        <style include="app-grid-style shared-styles">
            :host {
                display: block;
                padding: 16px;
                --app-grid-columns: 1;
                --app-grid-gutter: 10px;
                --app-grid-item-height: 16vh;
                --app-grid-expandible-item-columns: 1;
            }
            .card {
                margin: .1rem;
                height: 80vh;
            }
            a {
                text-decoration: none;
                color: #757575;
            }
            a paper-button{
                width: 100%;
                height: 100%;
                background-color: #F5F5F5;
            }
            
        </style>
        
        <div class="card app-grid">
            <a name="create-session" href="/create-session">
                <paper-button raised>Start a new Session</paper-button>
            </a>
            <a name="speaker" href="/speaker">
                <paper-button raised>Join as Speaker</paper-button>                    
            </a>
            <a name="moderator" href="/moderator">
                <paper-button raised>Join as Moderator</paper-button>
            </a>
            <a name="participant" href="/participant">
                <paper-button raised>Join as Participant</paper-button>
            </a>
        </div>
        
        
    </template>
    <script>
        Polymer({
            is: 'my-home'
        });
    </script>
</dom-module>