
<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-input/paper-textarea.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-participant">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <firebase-document
      id="questionsDoc"
      path="/questions"
      data="{{questionsDocData}}">
    </firebase-document>

    <firebase-query
      id="namesQuery"
      path="/sessionNames"
      data="{{namesQueryData}}">
    </firebase-query>

    <div class="card">
      <template is="dom-if" if="{{session}}">
        <p class="center">Participating in {{session}}</p>
      </template>
      <p class="center">Enter the name of the session you would like to join here.</p>
      <paper-input id="sessionNameParticipant" label="Session Name" on-change="checkSessionName"></paper-input>
    </div>

    <div class="card">
      <paper-textarea id="questionContent" label="Ask your question here" autocomplete="true" autocorrect="true"></paper-textarea>
      <template is="dom-if" if="{{session}}">
        <paper-button raised id="submitQuestion" on-tap="submitQuestion" class="orange">Submit Question</paper-button>
      </template>
    </div>
  </template>

  <script>
    Polymer({
      is: 'my-participant',
      
      properties: {
        question: {
            type: Object,
            value: {
                content: '',
                session: this.session,
                approved: false,
                answered: false
            }
        },
        session: false
      },

      checkSessionName: function() {
        var valid = false;
        for(var i = 0; i < this.$.namesQuery.data.length; i++){
          if(this.$.sessionNameParticipant.value === this.$.namesQuery.data[i].name){
            valid = true;
          }
        }
        if(valid){
          this.session = this.$.sessionNameParticipant.value;
          this.question.session = this.session; 
        }
        else{
          this.session = false;
        } 
      },

      submitQuestion: function() {
        this.question.content = this.$.questionContent.value;
        this.$.questionsDoc.path = '';
        this.$.questionsDoc.data = '';
        this.$.questionsDoc.data = this.question;
        this.$.questionsDoc.save('/questions');
        this.$.questionContent.value = '';
      }
    });
  </script>
</dom-module>