
<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/polymerfire/firebase-document.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-question">
    <template>
        <style include="shared-styles">
            :host {
                display: block;
                padding: 10px;
            }

            .card {
                margin: 0;
            }
        </style>

        <firebase-document
            id="questionDoc"
            path=""
            data="{{sessionNamesDocData}}">
        </firebase-document>

        <div class="card">
            <p>{{question.content}}</p>
            <template is="dom-if" if="{{moderator}}">
                <paper-button raised class="orange" on-tap="approveQuestion">Approve</paper-button>                
            </template>
            <template is="dom-if" if="{{speaker}}">
                <paper-button raised class="orange" on-tap="answerQuestion">Mark Answered</paper-button>                
            </template>
        </div>
    </template>
    <script>
        Polymer({
            is: 'my-question',
            properties: {
                approvedQuestion: {
                    type: Object,
                    value: {
                        answered: false,
                        approved: false,
                        content: '',
                        session: ''
                    }
                },
                key: '',
                moderator: false,
                speaker: false
            },

            approveQuestion: function () {
                this.approvedQuestion.approved = true;
                this.approvedQuestion.content = this.question.content;
                this.approvedQuestion.session = this.question.session;
                this.key = this.question.$key;
                this.$.questionDoc.path = '';                
                this.$.questionDoc.data = '';
                this.$.questionDoc.data = this.approvedQuestion;
                this.$.questionDoc.save('/questions', this.key)
            },

            answerQuestion: function () {
                this.approvedQuestion.answered = true;
                this.approvedQuestion.approved = this.question.approved;
                this.approvedQuestion.content = this.question.content;
                this.approvedQuestion.session = this.question.session;
                this.key = this.question.$key;
                this.$.questionDoc.path = '';                
                this.$.questionDoc.data = '';
                this.$.questionDoc.data = this.approvedQuestion;
                this.$.questionDoc.save('/questions', this.key);
            }
        });
    </script>
</dom-module>