
<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/polymerfire/firebase-query.html">
<link rel="import" href="my-question.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-speaker">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <firebase-query
      id="query"
      path="/questions"
      order-by-child="session"
      equal-to="{{session}}"
      data="{{questionsQueryData}}">
    </firebase-query>

    <firebase-query
      id="sessionQuery"
      path="/sessions"
      data="{{sessionQueryData}}">
    </firebase-query>

    <div class="card">
      <template is="dom-if" if="{{session}}">
        <p class="center">Speaking at {{session}}</p>
      </template>
      <p class="error">{{message}}</p>
      <p class="center">Enter the name of the session you would like to join here.</p>
      <paper-input id="sessionNameSpeaker" label="Session Name"></paper-input>
      <paper-input id="sessionPasswordSpeaker" label="Session Password" type="password"></paper-input>
      <paper-button id="joinButton" class="orange" raised >Join Session</paper-button> 
    </div>
    <template is="dom-if" if="{{session}}">
      <template is="dom-repeat" items="{{questionsQueryData}}" as="question" filter="isApprovedAndAnswered" observe="answered">
        <my-question question="{{question}}" speaker="true"></my-question>
      </template>
    </template>
  </template>

  <script>
    Polymer({
      is: 'my-speaker',
      listeners: {
        'joinButton.tap' : 'checkSessionName'
      },
      properties: {
        session: false,
        message: false
      },

      checkSessionName: function() {
        var valid = false;
        for(var i = 0; i < this.$.sessionQuery.data.length; i++){
          if(this.$.sessionNameSpeaker.value === this.$.sessionQuery.data[i].name && this.$.sessionPasswordSpeaker.value === this.$.sessionQuery.data[i].password){
            valid = true;
          }
        }
        if(valid){
          this.session = this.$.sessionNameSpeaker.value;
          this.message = '';
        }
        else{
          this.message = "The session name or password is incorrect, try again."
          this.session = false;
        } 
      },

      isApprovedAndAnswered: function(question) {
        return question.approved == true && question.answered == false;
      }
    });
  </script>
</dom-module>